<style>
    table {
        border:1px solid black;
        border-collapse: separate; 
        border-spacing: 1px;
    }
    th{
        border:1px solid black;
    }
    td {
        border:1px solid black;
    }
</style>
<h1>Students</h1>
<p><a href = "/students/add">Add Student</a></p>
<p><a href = "/">Home</a></p>
<table  >
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <% students.forEach((student) => { %>
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><a href = "/students/edit/<%= student.sid %>">update</a></td>
        </tr>
    <% }) %>
</table>